:root{
  --primary-color: #0d6efd;
  --secondary-color: #ffffff;
}
.flex{
    display: flex;
}
.items-baseline{
    align-items: baseline;
}
.centered-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.centered{
    align-self: center;
    text-align: center;
}
section{
    padding: 2%;
}
h1{
     font-weight: bold;
     font-size: 4em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}
h1, h2, h3{
    text-align: center;
}
ul{
    list-style-type: none;
}
.menu{
    margin-bottom: 2%;
    padding: 0;
}
.btn, button, .post-list__item-content__link{
    background: var(--primary-color);
    color: var(--secondary-color);
}
.post-list__item-content__link{
    text-decoration: none;
}
.post-list__item{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.post-list__item-image{
    overflow: hidden;
}
.no-bg{
    background: none;
}
.no-border{
    border: none;
}
.scroll{
    overflow: scroll;
}
.h-50{
    height: 50vh;
}
.w-50{
    width: 50%;
}
.mr-5{
    margin-right: 5%;
}