:root{
  --primary-color: #0d6efd;
  --secondary-color: #ffffff;
}
.flex{
    display: flex;
}
.items-baseline{
    align-items: baseline;
}
.centered-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.centered{
    display: flex;
    justify-content: center;
    text-align: center;
}
section{
    padding: 2%;
}
h1{
     font-weight: bold;
     font-size: 4em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}
h1, h2, h3{
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
.menu{
    margin: 1.5%;
    padding: 0;
}
.btn, button, .post-list__item-content__link{
    background: var(--primary-color);
    color: var(--secondary-color) !important;
}
.btn:hover{
  color: #000000 !important;
  border: none;
  background-color: var(--primary-color);
}
.btn:focus{
    outline:none;
}
.post-list__item-content__link{
    text-decoration: none;
}
.post-list__item{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.post-list__item-image{
    overflow: hidden;
}
.no-bg{
    background: none;
}
.no-border{
    border: none;
}
.scroll{
    overflow: scroll;
}
.h-60{
    height: 60vh !important;
}
.w-50{
    width: 50%;
}
.w-20{
    width: 20%;
}
.mr-5{
    margin-right: 5%;
}
.users-list__item{
   width: 20%;
   display: flex;
   align-items: baseline;
   justify-content: space-around;
   margin: 1% 0;
}
.blocked{
    opacity: 0.5;
}
.blocked:hover{
    opacity: 1;
}
td button, a, form button{
    color: #000000 !important;
}
a{
    text-decoration: none;
}
.large-text{
    font-size: 2em;
}