<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"/>
<body>
    <header class="header flex space-around">
        <menu class="flex w-25 menu space-around">
            <menuitem>
                <a href="/">Home</a>
            </menuitem>
            <menuitem>
                <a href="/login">Login</a>
            </menuitem>
        </menu>
    </header>
    <main>
        <section class="centered-column space-around" th:insert="fragments/user_form.html ::
        user_form(method='POST', path='/users/create', button_text='Signup')"></section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>