<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"></th:block>
<body>

    <header class="flex header space-around">
        <nav class="menu w-100">
            <ul  th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}" class="flex space-around">
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/profile', text='Profile')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/posts/create', text='Create a post')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/users', text='View all users')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/posts', text='View all posts')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/logout', text='Logout')"/>
            </ul>

            <ul  th:unless="${#httpServletRequest.isUserInRole('ROLE_USER')}" class="flex space-around">
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/profile', text='Profile')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/users', text='View all users')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/posts', text='View all posts')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/logout', text='Logout')"/>
            </ul>
        </nav>
    </header>

    <main>
        <section class="centered-column text-center space-around"
                 th:with="admin_role=${T(org.example.entities.Role).ROLE_ADMIN},
                          moder_role=${T(org.example.entities.Role).ROLE_MODER},
                          user_role=${T(org.example.entities.Role).ROLE_USER}">

            <div th:if="${#lists.contains(user.getRoles(), user_role.name())}">
                <h1 th:text="'This is' + ' ' + ${user.getUsername()} + '.'">user</h1>
                <h2 th:if="${user.getPosts().size() > 0}" th:text="'And there are' + ' '
                    + ${user.getUsername().trim()} + '\'s' + ' ' + 'posts here'">subtitle</h2>
                <h2 th:unless="${user.getPosts().size() > 0}" th:text="${user.getUsername()}
                    + ' has yet to write any post.'">subtitle</h2>
            </div>

            <div th:unless="${#lists.contains(user.getRoles(), user_role.name())}">
                <h1 th:text="'This is' + ' ' + ${user.getUsername()} + '.'">user</h1>
                <h2>This user cannot write posts because it has the following roles:</h2>
                <ul>
                    <li class="large-text" th:each="role : ${user.getRoles()}" th:text="${role}"></li>
                </ul>
            </div>

            <div>
                <h3 th:text="'And this is' + ' ' + ${user.getUsername().trim()} + '\'s' + ' ' + 'email' + ' '
                + ':' + ' ' + ${user.getEmail()}"></h3>
            </div>

        </section>

        <section>
            <th:block th:if="${#httpServletRequest.isUserInRole('ROLE_USER')}"
                      th:replace="fragments/posts_list :: ul(posts=${user.getPosts()})"/>
        </section>

    </main>

    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>