<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"></th:block>
<body>
    <header class="centered-row header">
        <menu class="centered-row w-100 menu">
            <menuitem>
                <a href="/users/me">Manage an account</a>
            </menuitem>
            <menuitem>
                <a href="/profile">Profile</a>
            </menuitem>
            <menuitem>
                <a href="/posts/create">Create a post</a>
            </menuitem>
            <menuitem>
                <a href="/posts">View all posts</a>
            </menuitem>
            <menuitem>
                <a href="/logout">Logout</a>
            </menuitem>
        </menu>
    </header>
    <main>
        <section class="centered">
            <ul class="centered-column">
                <li th:each="user : ${users}">
                    <a th:if="${me.getUsername().equals(user.getUsername())}" href="/users/me">Me</a>
                    <a th:unless="${me.getUsername().equals(user.getUsername())}" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">username</a>
                </li>
            </ul>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>