<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"></th:block>
<body>
    <header class="centered-row header space-around"
            th:insert="fragments/menu.html ::
            menu(path1='/profile', text1='Profile',
            path2='/posts/create',text2='Create a post',
            path3='/users', text3='View all users',
            path4='/posts', text4='View all posts')">
    </header>
    <main>
        <section class="centered-column text-center space-around">
            <div>
                <h1 th:text="'This is' + ' ' + ${user.getUsername()}">user</h1>
                <h2 th:if="${user.getPosts().size() > 0}" th:text="'and there are' + ' ' + ${user.getUsername().trim()} + '\'s' + ' ' + 'posts here'">subtitle</h2>
                <h2 th:unless="${user.getPosts().size() > 0}" th:text="${user.getUsername()} + ' has yet to write any post.'">subtitle</h2>
            </div>
            <th:block th:replace="fragments/posts_list :: ul"/>
            <div>
                <h3 th:text="'And this is' + ' ' + ${user.getUsername().trim()} + '\'s' + ' ' + 'email' + ' ' + ':' + ' ' + ${user.getEmail()}"></h3>
            </div>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>