<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"></th:block>
<body>
    <header class="centered-row header">
        <menu class="centered-row w-100 menu">
            <menuitem>
                <a href="/users/me">Manage an account</a>
            </menuitem>
            <menuitem>
                <a href="/profile">Profile</a>
            </menuitem>
            <menuitem>
                <a href="/posts/create">Create a post</a>
            </menuitem>
            <menuitem>
                <a href="/posts">View all posts</a>
            </menuitem>
            <menuitem>
                <a href="/users">View all users</a>
            </menuitem>
            <menuitem>
                <a href="/logout">Logout</a>
            </menuitem>
        </menu>
    </header>
    <main>
        <section class="centered-column text-center">
            <div>
                <h1 th:text="'This is' + ' ' + ${user.getUsername()}">user</h1>
                <h2 th:if="${user.getPosts().size() > 0}" th:text="'and there are' + ' ' + ${user.getUsername().trim()} + '\'s' + ' ' + 'posts here'">subtitle</h2>
                <h2 th:unless="${user.getPosts().size() > 0}" th:text="${user.getUsername()} + ' has yet to write any post.'">subtitle</h2>
            </div>
            <ul class="post-list">
                <li class="post-list__item" th:each="post : ${user.getPosts()}">
                    <div class="post-list__item-image">
                        <img th:src="${post.getImageLink()}">
                    </div>
                    <div class="post-list__item-content centered-column p-3">
                        <h3 th:text="${post.getTitle()}" class="post-list__item-content__title">title</h3>
                        <p th:text="${post.getContent().substring(0,100) + '...'}" class="post-list__item-content_content">content</p>
                        <a class="btn rounded-pill w-100 post-list__item-content__link" th:href="@{/posts/{id}(id=${post.getId()})}">view</a>
                    </div>
                </li>
            </ul>
            <div>
                <h3 th:text="'And this is' + ' ' + ${user.getUsername().trim()} + '\'s' + ' ' + 'email' + ' ' + ':' + ' ' + ${user.getEmail()}"></h3>
            </div>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>