<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"/>
<body>
    <header class="header"
            th:insert="fragments/menu.html ::
            menu(path1='/profile', text1='Profile',
            path2='/posts/create', text2='Create a post',
            path3='/users', text3='View all users',
            path4='', text4='')">
    </header>
    <main>
        <section>
            <th:block th:replace="fragments/posts_list :: ul"/>
            <h2 th:unless="${posts.size() > 0}" class="text-center">No posts.</h2>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>