<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<th:block th:replace="fragments/head.html :: head"/>
<body>

    <header class="header">
        <nav class="menu">
            <ul class="flex space-around">
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/profile', text='Profile')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/posts', text='View all posts')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/users', text='View all users')"/>
                <th:block th:replace="fragments/menuitem.html :: menuitem(path='/logout', text='Logout')"/>
            </ul>
        </nav>
    </header>

    <main class="post">
        <section class="centered-column space-around" th:insert="fragments/post_form.html ::
        post_form(method='POST', path='/posts', button_text='Create')"></section>
    </main>

    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>