<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<th:block th:replace="fragments/head.html :: head"/>
<body>
    <header class="centered-row header">
        <menu class="centered-row w-100 menu">
            <menuitem>
                <a href="/users/me">Manage an account</a>
            </menuitem>
            <menuitem>
                <a href="/profile">Profile</a>
            </menuitem>
            <menuitem>
                <a href="/posts">View all posts</a>
            </menuitem>
            <menuitem>
                <a href="/users">View all users</a>
            </menuitem>
            <menuitem>
                <a href="/logout">Logout</a>
            </menuitem>
        </menu>
    </header>
    <main class="post">
        <section class="centered-column post-content">
            <form  class="centered-column w-100" th:method="POST" th:action="@{/posts}" th:object="${post}">
                <input class="w-100 post-content__title" type="text" th:field="*{title}" placeholder="Title" required="required" pattern="[A-Za-z0-9_\s,.?!-]{1,255}"
                       title="Only letters (either case), numbers, and some special characters (A-Za-z0-9_\s,.?!-); the length must be between 1 and 255 characters.">
                <textarea class="w-100 post-content__content" cols="30" rows="10" th:field="*{content}" placeholder="Content" required="required" title="The length must be between 100 and 5000."
                minlength="100" maxlength="5000">content</textarea>
                <input class="w-100 post-content__image" type="url" th:field="*{imageLink}" placeholder="Image URL" required="required" pattern="http(s?)(:\/\/).{1,255}"
                       title="The length must be between 1 and 255 characters.">
                <button type="submit" class="btn w-100">Create</button>
            </form>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>