<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head.html :: head"/>
<body>
    <header class="centered-row header">
        <menu class="w-100 centered-row mt-3 menu">
            <menuitem>
                <a href="/users/me">Manage an account</a>
            </menuitem>
            <menuitem>
                <a href="/profile">Profile</a>
            </menuitem>
            <menuitem>
                <a href="/posts/create">Create a post</a>
            </menuitem>
            <menuitem>
                <a href="/users">View all users</a>
            </menuitem>
            <menuitem>
                <a href="/logout">Logout</a>
            </menuitem>
        </menu>
    </header>
    <main>
        <section>
            <ul class="post-list" th:if="${posts.size() > 0}">
                <li class="post-list__item" th:each="post : ${posts}">
                    <div class="post-list__item-image">
                        <img th:src="${post.getImageLink()}">
                    </div>
                    <div class="post-list__item-content p-3 centered-column">
                        <h3 th:text="${post.getTitle()}" class="post-list__item-content__title">title</h3>
                        <p th:text="${post.getContent().substring(0,100) + '...'}" class="post-list__item-content__content">content</p>
                        <a class="btn rounded-pill w-100 text-center post-list__item-content__link" th:href="@{/posts/{id}(id=${post.getId()})}">view</a>
                    </div>
                </li>
            </ul>

            <h2 th:unless="${posts.size() > 0}" class="text-center">No posts.</h2>
        </section>
    </main>
    <th:block th:replace="fragments/script.html :: script"/>
</body>
</html>