<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head"/>
<body>
    <main>
        <section>
            <menu class="centered-row w-100">
                <menuitem>
                    <a href="/users/me">Manage an account</a>
                </menuitem>
                <menuitem>
                    <a href="/posts/create">Create a post</a>
                </menuitem>
                <menuitem>
                    <a href="/posts">View all posts</a>
                </menuitem>
                <menuitem>
                    <a href="/logout">Logout</a>
                </menuitem>
            </menu>
            <div>
                <h2 th:if="${user.getPosts().size() > 0}" class="text-center">Your posts</h2>
                <h2 th:unless="${user.getPosts().size() > 0}" class="text-center">You have yet to write any posts.</h2>
                <ul class="post-list">
                    <li class="post-list-item" th:each="post : ${user.getPosts()}">
                        <div class="post-list-item__img">
                            <img th:src="${post.getImage()}">
                        </div>
                        <div class="post-list-item__content centered-column p-3">
                            <h3 th:text="${post.getTitle()}">title</h3>
                            <p th:text="${post.getContent().substring(0, 100)}+'...'">content</p>
                            <a class="btn rounded-pill w-100" th:href="@{/posts/{id}(id=${post.getId()})}">view</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>