<form th:fragment="user_form(method, path, button_text)" th:method="${method}" th:action="@{${path}}"
      th:object="${user}" xmlns:th="https://www.thymeleaf.org/">
    <div class="mb-3">
        <label for="username" class="form-label w-100">Username</label>
        <input type="text" th:field="*{username}" id="username" class="form-control"
               required="required" pattern="[A-Za-z0-9_]{1,100}" title="Only letters (either case),
               numbers, and the underscore; the length must be between 1 and 100 characters.">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label w-100">Email</label>
        <input type="email" th:field="*{email}" id="email" class="form-control"
               required="required" title="Enter a valid email address.">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label w-100">Password</label>
        <input type="password" th:field="*{password}" id="password" class="form-control"
               required="required" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*=+-_]).{6,255}"
               title="At least one lowercase letter, one uppercase letter, one numeric value and one special
               symbol (!@#$%^&*=+-_). The length must be between 6 and 255 characters.">
    </div>
    <br>
    <button type="submit" class="btn w-100" th:text="${button_text}">text</button>
</form>